from pydantic_settings import SettingsConfigDict
from openg2p_fastapi_common.config import Settings


class SettingsExtended(Settings, extends=Settings):
    model_config = SettingsConfigDict(env_prefix="{{ module_name }}")
